.App {
}
.rooms{
  padding: 4%;
  box-sizing: border-box;
  min-height: 100vh;
  height: fit-content;
  width: 100%;
}
.title{
  font-size: 4vw;
}

.rooms__list{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.current_room{
  margin-top: 5px;
  cursor: pointer;
  font-size: 3vw;
  background-color: rgb(144, 255, 238);
  border-radius: 5px;
  padding-left: 10px;
  box-sizing: border-box;
}